USE [master]
GO
/****** Object:  Database [SincoSchoolDB]    Script Date: 4/6/2021 4:23:26 PM ******/
CREATE DATABASE [SincoSchoolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SincoSchoolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SincoSchoolDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SincoSchoolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SincoSchoolDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SincoSchoolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SincoSchoolDB]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 4/6/2021 4:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[EstadoAlumno] [bit] NOT NULL,
 CONSTRAINT [PK_Alumnoes] PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriaAlumno]    Script Date: 4/6/2021 4:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriaAlumno](
	[IdMateriaAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Materia_IdMateria] [int] NOT NULL,
	[Alumnoes_IdAlumno] [int] NOT NULL,
	[Nota1] [real] NULL,
	[Nota2] [real] NULL,
 CONSTRAINT [PK_MateriaAlumno] PRIMARY KEY CLUSTERED 
(
	[IdMateriaAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriaProfesors]    Script Date: 4/6/2021 4:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriaProfesors](
	[IdMaterialProfesor] [int] IDENTITY(1,1) NOT NULL,
	[IdProfesorFK] [int] NOT NULL,
	[Materias_IdMateria] [int] NOT NULL,
 CONSTRAINT [PK_MateriaProfesors] PRIMARY KEY CLUSTERED 
(
	[IdMaterialProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 4/6/2021 4:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 4/6/2021 4:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[IdProfesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[EstadoProfesor] [bit] NULL,
 CONSTRAINT [PK_Professors] PRIMARY KEY CLUSTERED 
(
	[IdProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_MateriaAlumnoAlumno]    Script Date: 4/6/2021 4:23:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_MateriaAlumnoAlumno] ON [dbo].[MateriaAlumno]
(
	[Alumnoes_IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_MateriaMateriaAlumno]    Script Date: 4/6/2021 4:23:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_MateriaMateriaAlumno] ON [dbo].[MateriaAlumno]
(
	[Materia_IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_MateriaProfesorMateria]    Script Date: 4/6/2021 4:23:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_MateriaProfesorMateria] ON [dbo].[MateriaProfesors]
(
	[Materias_IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProfessorMateriaProfesor]    Script Date: 4/6/2021 4:23:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProfessorMateriaProfesor] ON [dbo].[MateriaProfesors]
(
	[IdProfesorFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MateriaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MateriaAlumnoAlumno] FOREIGN KEY([Alumnoes_IdAlumno])
REFERENCES [dbo].[Alumnos] ([IdAlumno])
GO
ALTER TABLE [dbo].[MateriaAlumno] CHECK CONSTRAINT [FK_MateriaAlumnoAlumno]
GO
ALTER TABLE [dbo].[MateriaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MateriaMateriaAlumno] FOREIGN KEY([Materia_IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
ALTER TABLE [dbo].[MateriaAlumno] CHECK CONSTRAINT [FK_MateriaMateriaAlumno]
GO
ALTER TABLE [dbo].[MateriaProfesors]  WITH CHECK ADD  CONSTRAINT [FK_MateriaProfesorMateria] FOREIGN KEY([Materias_IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
ALTER TABLE [dbo].[MateriaProfesors] CHECK CONSTRAINT [FK_MateriaProfesorMateria]
GO
ALTER TABLE [dbo].[MateriaProfesors]  WITH CHECK ADD  CONSTRAINT [FK_ProfessorMateriaProfesor] FOREIGN KEY([IdProfesorFK])
REFERENCES [dbo].[Profesor] ([IdProfesor])
GO
ALTER TABLE [dbo].[MateriaProfesors] CHECK CONSTRAINT [FK_ProfessorMateriaProfesor]
GO
USE [master]
GO
