body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.navbar{
    width: 25%;
    height: 790px;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    flex: auto;
    justify-content: center;
}

a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #029BFF;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #029BFF;
}

main{
    position: absolute;
    left: 30%;
    top: 5%;
}

hr{
    width: 900px;
    height: 0px;
    border: 2px solid #FF4505;
}

#teacherIcon {
    position: relative;
    width: 132px;
    height: 145px;
    margin: 20% 30% 
    
}

#Sinco_Logo{
    width: 194px;
    height: 54px;
}

li{
    margin: 20% 0;
}


.materia{
    position: absolute;
    width: 471px;
    height: 479px;
    top: 160px;

}

.titulo1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    margin: 0 0 5% 0;
}

.titulo2{
    position: relative;
    top: 15%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

input{
    width: 321px;
    height: 23px;
    left: 348px;
    top: 616px;
    padding: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.87);
    border: 1px solid #FF4505;
    box-sizing: border-box;
    border-radius: 10px;
}

.icono{
    width: 25px;
    height: 25px;
}

.divAgregar{
    margin: 10% 0;
}

tbody{
    border: 1px solid #c92727;
    background: #d4d4d4;
}








