<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinco School</title>
    <link rel="stylesheet" href="./assets/estilos/style.css">
</head>
<body>
        

            <nav class="navbar">
                <img src="assets/img/sinco-erp-blanco.svg" alt="Sinco_Logo" id="Sinco_Logo">
                <img src="assets/img/teacher.png" alt="teacherIcon" id="teacherIcon">
                <ul>
                    <li><a href="">Estudiante</a></li>
                    <li><a href="">Profesor</a></li>
                    <li><a href="">Materia</a></li>
                </ul>
            </nav>
            <main>
                <h1>SINCO SCHOOL</h1>
                <hr>

            </main>
            

        

    
</body>
<script src="./assets/js/main.js"></script>
</html>